In [1]:
# sql = '''
# create table users (
# user_id int,

# PRIMARY KEY (user_id)
# );
# '''

In [6]:
sql = '''
create table users (
user_id int,
user_rating float,
movie_title VARCHAR(255),
PRIMARY KEY (movie_title)
);
'''

In [56]:
import pymysql

In [58]:
cursor = db.cursor()

In [59]:
cursor.execute("use movies")

0

In [81]:
test = '''
CREATE PROCEDURE TEST()
BEGIN 
    DECLARE @T INTEGER = 1;
    SELECT 1;
END 
'''

In [86]:
ins = '''
CREATE PROCEDURE InsertUsers()
BEGIN 
    DECLARE @Count INT = 1
    WHILE @Count <= 100
        BEGIN
            INSERT INTO Users (movie_title)
            Select movie_title
        from db
        ORDER BY random()
            limit(10)

            SET @Count = @Count + 1
        END

    SET @Count = 1


    WHILE @Count <= 100
        BEGIN
            INSERT INTO Users (users_rating)
            Select ratings
        from db
        ORDER BY random()
            limit(10)

            SET @Count = @Count + 1
        END

    SET @Count = 1

    WHILE @Count <= 100
        BEGIN
            INSERT INTO Users (User_ID)
        VALUES (@Count),(@Count),(@Count),(@Count),(@Count),(@Count),(@Count),(@Count),(@Count),(@Count)

            SET @Count = @Count + 1
        END
END 
'''

In [87]:
cursor.execute(ins)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '@Count INT = 1;\n    WHILE @Count <= 100\n        BEGIN\n            INSERT INTO Us' at line 3")

In [65]:
cursor.execute("call InsertUsers()")

In [ ]:
cursor.connection.commit()